@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
}

footer {
    height: 25px;
}

.full {
    width: 100%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

tbody td:nth-child(even) .delete {
    background-color:rgba(248, 113, 113, var(--tw-bg-opacity))
}

tbody td:nth-child(even) .delete:hover {
background-color: orangered;
color: white;
}

tbody td:nth-child .delete {
    background-color:rgba(248, 113, 113, var(--tw-bg-opacity))
}

tbody td:nth-child .delete:hover {
background-color: orangered;
color: white;
}